Delete From Sys_Entity

--set   nocount   on   select   'insert   Sys_Entity(E_ProgID,E_Entity,E_Title)   values('as   '--',''''+E_ProgID+'''',',',''''+E_Entity+'''',',',''''+E_Title+'''',')'   from   Sys_Entity
--                                                                                                                                                               
-------------------------------------------------------- ----------------- ---- ---------------------- ---- ---------------------------------------------------- ----
insert   Sys_Entity(E_ProgID,E_Entity,E_Title)   values( 'ZXSOFT'          ,    ''                     ,    '水泥销售系统'                                             )
insert   Sys_Entity(E_ProgID,E_Entity,E_Title)   values( 'ZXSOFT'          ,    'MAIN_A02'             ,    '系统日志'                                               )
insert   Sys_Entity(E_ProgID,E_Entity,E_Title)   values( 'ZXSOFT'          ,    'MAIN_B02'             ,    '客户管理'                                               )

