SET   IDENTITY_INSERT   S_ZTLines   ON
--set   nocount   on   select   'insert   S_ZTLines(R_ID,Z_ID,Z_Name,Z_StockNo,Z_Stock,Z_StockType,Z_PeerWeight,Z_QueueMax,Z_VIPLine,Z_Valid,Z_Index)   values('as   '--',R_ID,',',''''+Z_ID+'''',',',''''+Z_Name+'''',',',''''+Z_StockNo+'''',',',''''+Z_Stock+'''',',',''''+Z_StockType+'''',',',Z_PeerWeight,',',Z_QueueMax,',',''''+Z_VIPLine+'''',',',''''+Z_Valid+'''',',',Z_Index,')'   from   S_ZTLines
--                                                                                                                             R_ID                                                                                                                                                                                                          Z_PeerWeight      Z_QueueMax                           Z_Index     
------------------------------------------------------------------------------------------------------------------------------ ----------- ---- ----------------- ---- ---------------------------------- ---- ---------------------- ---- ---------------------------------------------------------------------------------- ---- ---- ---- ------------ ---- ----------- ---- ---- ---- ---- ---- ----------- ----
insert   S_ZTLines(R_ID,Z_ID,Z_Name,Z_StockNo,Z_Stock,Z_StockType,Z_PeerWeight,Z_QueueMax,Z_VIPLine,Z_Valid,Z_Index)   values( 4           ,    'ZT001'           ,    '1期北32.5'                          ,    '470'                  ,    '袋装_复合32.5'                                                                        ,    NULL ,    50           ,    4           ,    'C'  ,    'Y'  ,    NULL        )
insert   S_ZTLines(R_ID,Z_ID,Z_Name,Z_StockNo,Z_Stock,Z_StockType,Z_PeerWeight,Z_QueueMax,Z_VIPLine,Z_Valid,Z_Index)   values( 5           ,    'ZT002'           ,    '1期南42.5'                          ,    '474'                  ,    '袋装_普通42.5'                                                                        ,    NULL ,    50           ,    4           ,    'C'  ,    'Y'  ,    NULL        )
insert   S_ZTLines(R_ID,Z_ID,Z_Name,Z_StockNo,Z_Stock,Z_StockType,Z_PeerWeight,Z_QueueMax,Z_VIPLine,Z_Valid,Z_Index)   values( 6           ,    'ZT003'           ,    '2期北32.5'                          ,    '470'                  ,    '袋装_复合32.5'                                                                        ,    NULL ,    50           ,    4           ,    'C'  ,    'Y'  ,    NULL        )

SET   IDENTITY_INSERT   S_ZTLines   OFF
