Delete From Sys_Dict

SET   IDENTITY_INSERT   Sys_Dict   ON
--set   nocount   on   select   'insert   Sys_Dict(D_ID,D_Name,D_Desc,D_Value,D_Memo,D_ParamA,D_ParamB,D_Index)   values('as   '--',D_ID,',',''''+D_Name+'''',',',''''+D_Desc+'''',',',''''+D_Value+'''',',',''''+D_Memo+'''',',',D_ParamA,',',''''+D_ParamB+'''',',',D_Index,')'   from   Sys_Dict
--                                                                                       D_ID                                                                                                                                                                D_ParamA                                                                                               D_Index     
---------------------------------------------------------------------------------------- ----------- ---- ----------------- ---- -------------------------------- ---- ---------------------------------------------------- ---- ---------------------- ---- --------------------------------------- ---- ---------------------------------------------------- ---- ----------- ----
insert   Sys_Dict(D_ID,D_Name,D_Desc,D_Value,D_Memo,D_ParamA,D_ParamB,D_Index)   values( 1           ,    'HardMonURL'      ,    '硬件守护服务'                         ,    'http://192.168.3.110:8082/bin'                      ,    NULL                   ,    NULL                                    ,    NULL                                                 ,    0           )
insert   Sys_Dict(D_ID,D_Name,D_Desc,D_Value,D_Memo,D_ParamA,D_ParamB,D_Index)   values( 2           ,    'MITServiceURL'   ,    '业务中间件服务'                        ,    'http://192.168.3.110:8082/bin'                      ,    NULL                   ,    NULL                                    ,    NULL                                                 ,    0           )
insert   Sys_Dict(D_ID,D_Name,D_Desc,D_Value,D_Memo,D_ParamA,D_ParamB,D_Index)   values( 3           ,    'ProInfoItem'     ,    '供应商信息项'                         ,    '地址'                                                 ,    NULL                   ,    NULL                                    ,    NULL                                                 ,    0           )

SET   IDENTITY_INSERT   Sys_Dict   OFF
