Delete From Sys_Dict Where D_Name='StockItem'

--SET   IDENTITY_INSERT   Sys_Dict   ON
--set   nocount   on   select   'insert   aa(D_ID,D_Name,D_Desc,D_Value,D_Memo,D_ParamA,D_ParamB,D_Index)   values('as   '--',D_ID,',',''''+D_Name+'''',',',''''+D_Desc+'''',',',''''+D_Value+'''',',',''''+D_Memo+'''',',',D_ParamA,',',''''+D_ParamB+'''',',',D_Index,')'   from   aa
--                                                                                 D_ID                                                                                                                                                                D_ParamA                                                                                               D_Index     
---------------------------------------------------------------------------------- ----------- ---- ----------------- ---- -------------------------------- ---- ---------------------------------------------------- ---- ---------------------- ---- --------------------------------------- ---- ---------------------------------------------------- ---- ----------- ----
insert   Sys_Dict(D_Name,D_Desc,D_Value,D_Memo,D_ParamA,D_ParamB,D_Index)   values( 'StockItem'       ,    '水泥类型'                           ,    '散装_42.5'                                            ,    'S'                    ,    NULL                                    ,    'PO-001'                                             ,    0           )
insert   Sys_Dict(D_Name,D_Desc,D_Value,D_Memo,D_ParamA,D_ParamB,D_Index)   values( 'StockItem'       ,    '水泥类型'                           ,    '袋装_42.5'                                            ,    'D'                    ,    NULL                                    ,    'BPO-01'                                             ,    0           )
insert   Sys_Dict(D_Name,D_Desc,D_Value,D_Memo,D_ParamA,D_ParamB,D_Index)   values( 'StockItem'       ,    '水泥类型'                           ,    '散装_42.5缓凝'                                          ,    'S'                    ,    NULL                                    ,    'POS-001'                                            ,    0           )

--SET   IDENTITY_INSERT   Sys_Dict   OFF
