Delete From Sys_Dict Where D_Name='NoFaHuoStock'

--SET   IDENTITY_INSERT   Sys_Dict   ON
--set   nocount   on   select   'insert   aa(D_ID,D_Name,D_Desc,D_Value,D_Memo,D_ParamA,D_ParamB,D_Index)   values('as   '--',D_ID,',',''''+D_Name+'''',',',''''+D_Desc+'''',',',''''+D_Value+'''',',',''''+D_Memo+'''',',',D_ParamA,',',''''+D_ParamB+'''',',',D_Index,')'   from   aa
--                                                                                 D_ID                                                                                                                                                                D_ParamA                                                                                               D_Index     
---------------------------------------------------------------------------------- ----------- ---- ----------------- ---- -------------------------------- ---- ---------------------------------------------------- ---- ---------------------- ---- --------------------------------------- ---- ---------------------------------------------------- ---- ----------- ----
insert   Sys_Dict(D_Name,D_Desc,D_Value,D_Memo,D_ParamA,D_ParamB,D_Index) values( 'NoFaHuoStock','现场无需发货' ,'MM5.0','砌筑砂浆_MM5.0' ,NULL  ,NULL,0)
insert   Sys_Dict(D_Name,D_Desc,D_Value,D_Memo,D_ParamA,D_ParamB,D_Index) values( 'NoFaHuoStock','现场无需发货' ,'MM7.5','砌筑砂浆_MM7.5' ,NULL  ,NULL,0)
insert   Sys_Dict(D_Name,D_Desc,D_Value,D_Memo,D_ParamA,D_ParamB,D_Index) values( 'NoFaHuoStock','现场无需发货' ,'MM10.0','砌筑砂浆_MM10.0' ,NULL  ,NULL,0)

--SET   IDENTITY_INSERT   Sys_Dict   OFF
