Delete From S_ZTLines

SET   IDENTITY_INSERT   S_ZTLines   ON
--set   nocount   on   select   'insert   S_ZTLines(R_ID,Z_ID,Z_Name,Z_StockNo,Z_Stock,Z_StockType,Z_PeerWeight,Z_QueueMax,Z_VIPLine,Z_Valid,Z_Index)   values('as   '--',R_ID,',',''''+Z_ID+'''',',',''''+Z_Name+'''',',',''''+Z_StockNo+'''',',',''''+Z_Stock+'''',',',''''+Z_StockType+'''',',',Z_PeerWeight,',',Z_QueueMax,',',''''+Z_VIPLine+'''',',',''''+Z_Valid+'''',',',Z_Index,')'   from   S_ZTLines
--                                                                                                                             R_ID                                                                                                                                                                                                          Z_PeerWeight      Z_QueueMax                           Z_Index     
------------------------------------------------------------------------------------------------------------------------------ ----------- ---- ----------------- ---- ---------------------------------- ---- ---------------------- ---- ---------------------------------------------------------------------------------- ---- ---- ---- ------------ ---- ----------- ---- ---- ---- ---- ---- ----------- ----
insert   S_ZTLines(R_ID,Z_ID,Z_Name,Z_StockNo,Z_Stock,Z_StockType,Z_PeerWeight,Z_QueueMax,Z_VIPLine,Z_Valid,Z_Index)   values( 1           ,    'FH001'           ,    '北1-42.5'                          ,    'PO-001'               ,    '散装_42.5'                                                                          ,    NULL ,    50           ,    3           ,    'C'  ,    'Y'  ,    NULL        )
insert   S_ZTLines(R_ID,Z_ID,Z_Name,Z_StockNo,Z_Stock,Z_StockType,Z_PeerWeight,Z_QueueMax,Z_VIPLine,Z_Valid,Z_Index)   values( 2           ,    'FH001'           ,    '北1-42.5'                          ,    'PO-001'               ,    '散装_42.5'                                                                          ,    NULL ,    50           ,    3           ,    'C'  ,    'Y'  ,    NULL        )
insert   S_ZTLines(R_ID,Z_ID,Z_Name,Z_StockNo,Z_Stock,Z_StockType,Z_PeerWeight,Z_QueueMax,Z_VIPLine,Z_Valid,Z_Index)   values( 3           ,    'FH002'           ,    '北2-42.5'                          ,    'POS-001'              ,    '散装_42.5缓凝'                                                                        ,    NULL ,    50           ,    3           ,    'C'  ,    'Y'  ,    NULL        )

SET   IDENTITY_INSERT   S_ZTLines   OFF
