IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_Bill]') AND name = N'idx_card') create nonclustered index idx_card on dbo.S_Bill(L_Card)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_Bill]') AND name = N'idx_customer') create nonclustered index idx_customer on dbo.S_Bill(L_CusName,L_CusPY)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_Bill]') AND name = N'idx_date') create nonclustered index idx_date on dbo.S_Bill(L_Date desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_Bill]') AND name = N'idx_id') create nonclustered index idx_id on dbo.S_Bill(L_ID desc)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_Bill]') AND name = N'idx_inout_time') create nonclustered index idx_inout_time on dbo.S_Bill(L_InTime desc,L_OutFact desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_Bill]') AND name = N'idx_status') create nonclustered index idx_status on dbo.S_Bill(L_Status)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_Bill]') AND name = N'idx_status_all') create nonclustered index idx_status_all on dbo.S_Bill(L_Status,L_NextStatus)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_Bill]') AND name = N'idx_status_next') create nonclustered index idx_status_next on dbo.S_Bill(L_NextStatus desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_Bill]') AND name = N'idx_zhika') create nonclustered index idx_zhika on dbo.S_Bill(L_ZhiKa)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_BillBak]') AND name = N'idx_card') create nonclustered index idx_card on dbo.S_BillBak(L_Card)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_BillBak]') AND name = N'idx_customer') create nonclustered index idx_customer on dbo.S_BillBak(L_CusName,L_CusPY)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_BillBak]') AND name = N'idx_date') create nonclustered index idx_date on dbo.S_BillBak(L_Date desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_BillBak]') AND name = N'idx_id') create nonclustered index idx_id on dbo.S_BillBak(L_ID desc)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_BillBak]') AND name = N'idx_inout_time') create nonclustered index idx_inout_time on dbo.S_BillBak(L_InTime desc,L_OutFact desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_BillBak]') AND name = N'idx_status') create nonclustered index idx_status on dbo.S_BillBak(L_Status)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_BillBak]') AND name = N'idx_status_all') create nonclustered index idx_status_all on dbo.S_BillBak(L_Status,L_NextStatus)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_BillBak]') AND name = N'idx_status_next') create nonclustered index idx_status_next on dbo.S_BillBak(L_NextStatus desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_BillBak]') AND name = N'idx_zhika') create nonclustered index idx_zhika on dbo.S_BillBak(L_ZhiKa)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_ContractExt]') AND name = N'idx_id') create nonclustered index idx_id on dbo.S_ContractExt(E_CID)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_Customer]') AND name = N'idx_id') create nonclustered index idx_id on dbo.S_Customer(C_ID)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_Customer]') AND name = N'idx_name') create nonclustered index idx_name on dbo.S_Customer(C_Name,C_PY)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_StockHuaYan]') AND name = N'idx_customer') create nonclustered index idx_customer on dbo.S_StockHuaYan(H_Custom,H_CusName)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_StockHuaYan]') AND name = N'idx_date') create nonclustered index idx_date on dbo.S_StockHuaYan(H_ReportDate desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_StockHuaYan]') AND name = N'idx_no') create nonclustered index idx_no on dbo.S_StockHuaYan(H_No)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_StockHuaYan]') AND name = N'idx_reporter') create nonclustered index idx_reporter on dbo.S_StockHuaYan(H_Reporter desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_StockHuaYan]') AND name = N'idx_serial') create nonclustered index idx_serial on dbo.S_StockHuaYan(H_SerialNo)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_StockParam]') AND name = N'idx_id') create nonclustered index idx_id on dbo.S_StockParam(P_ID desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_StockParamExt]') AND name = N'idx_pid') create nonclustered index idx_pid on dbo.S_StockParamExt(R_PID desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_StockRecord]') AND name = N'idx_date') create nonclustered index idx_date on dbo.S_StockRecord(R_Date desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_StockRecord]') AND name = N'idx_no') create nonclustered index idx_no on dbo.S_StockRecord(R_SerialNo)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_ZhiKa]') AND name = N'idx_date') create nonclustered index idx_date on dbo.S_ZhiKa(Z_Date desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_ZhiKa]') AND name = N'idx_id') create nonclustered index idx_id on dbo.S_ZhiKa(Z_ID desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_ZhiKaDtl]') AND name = N'idx_stock') create nonclustered index idx_stock on dbo.S_ZhiKaDtl(D_StockNo)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_ZhiKaDtl]') AND name = N'idx_zhika') create nonclustered index idx_zhika on dbo.S_ZhiKaDtl(D_ZID desc)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_ZhiKaDtl]') AND name = N'idx_zid') create nonclustered index idx_zid on dbo.S_ZhiKaDtl(D_ZID desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_ZTTrucks]') AND name = N'idx_bill') create nonclustered index idx_bill on dbo.S_ZTTrucks(T_Bill)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[S_ZTTrucks]') AND name = N'idx_truck') create nonclustered index idx_truck on dbo.S_ZTTrucks(T_Truck)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_CustomerAccount]') AND name = N'idx_cid') create nonclustered index idx_cid on dbo.Sys_CustomerAccount(A_CID desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_CustomerCredit]') AND name = N'idx_cusid') create nonclustered index idx_cusid on dbo.Sys_CustomerCredit(C_CusID desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_CustomerCredit]') AND name = N'idx_date') create nonclustered index idx_date on dbo.Sys_CustomerCredit(C_Date desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_CustomerInOutMoney]') AND name = N'idx_cusid') create nonclustered index idx_cusid on dbo.Sys_CustomerInOutMoney(M_CusID)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_CustomerInOutMoney]') AND name = N'idx_date') create nonclustered index idx_date on dbo.Sys_CustomerInOutMoney(M_Date)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_CustomerInOutMoney]') AND name = N'idx_type') create nonclustered index idx_type on dbo.Sys_CustomerInOutMoney(M_Type)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_EventLog]') AND name = N'idx_query') create nonclustered index idx_query on dbo.Sys_EventLog(L_Date desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_Invoice]') AND name = N'idx_date') create nonclustered index idx_date on dbo.Sys_Invoice(I_ID desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_InvoiceDetail]') AND name = N'idx_invoice') create nonclustered index idx_invoice on dbo.Sys_InvoiceDetail(D_Invoice desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_InvoiceReqtemp]') AND name = N'idx_date') create nonclustered index idx_date on dbo.Sys_InvoiceReqtemp(R_Date desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_InvoiceReqtemp]') AND name = N'idx_week') create nonclustered index idx_week on dbo.Sys_InvoiceReqtemp(R_Week desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_InvoiceRequst]') AND name = N'idx_date') create nonclustered index idx_date on dbo.Sys_InvoiceRequst(R_Date desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_InvoiceRequst]') AND name = N'idx_week') create nonclustered index idx_week on dbo.Sys_InvoiceRequst(R_Week desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_InvoiceWeek]') AND name = N'idx_no') create nonclustered index idx_no on dbo.Sys_InvoiceWeek(W_NO desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_ManualEvent]') AND name = N'idx_loadevent') create nonclustered index idx_loadevent on dbo.Sys_ManualEvent(E_Date desc,E_Result,E_Departmen desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_Picture]') AND name = N'idx_date') create nonclustered index idx_date on dbo.Sys_Picture(P_Date desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_Picture]') AND name = N'idx_id') create nonclustered index idx_id on dbo.Sys_Picture(P_ID desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_PoundLog]') AND name = N'idx_bill') create nonclustered index idx_bill on dbo.Sys_PoundLog(P_Bill desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_PoundLog]') AND name = N'idx_id') create nonclustered index idx_id on dbo.Sys_PoundLog(P_ID desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_PoundLog]') AND name = N'idx_mdate') create nonclustered index idx_mdate on dbo.Sys_PoundLog(P_MDate desc)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_PoundLog]') AND name = N'idx_pdate') create nonclustered index idx_pdate on dbo.Sys_PoundLog(P_PDate desc)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_PoundLog]') AND name = N'idx_pmdate') create nonclustered index idx_pmdate on dbo.Sys_PoundLog(P_PDate desc,P_MDate desc)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_PoundLog]') AND name = N'idx_truck') create nonclustered index idx_truck on dbo.Sys_PoundLog(P_Truck)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_PoundLog]') AND name = N'idx_type') create nonclustered index idx_type on dbo.Sys_PoundLog(P_Type)with(allow_page_locks=off)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Sys_ShouJu]') AND name = N'idx_date') create nonclustered index idx_date on dbo.Sys_ShouJu(S_Date desc)with(allow_page_locks=off)