delete from sys_entity

--set   nocount   on   select   'insert   sys_entity(E_ProgID,E_Entity,E_Title)   values('as   '--',''''+E_ProgID+'''',',',''''+E_Entity+'''',',',''''+E_Title+'''',')'   from   sys_entity
--                                                                                                                                                               
-------------------------------------------------------- ----------------- ---- ---------------------- ---- ---------------------------------------------------- ----
insert   sys_entity(E_ProgID,E_Entity,E_Title)   values( 'ZXSOFT'          ,    ''                     ,    '水泥销售系统'                                             )
insert   sys_entity(E_ProgID,E_Entity,E_Title)   values( 'ZXSOFT'          ,    'MAIN_A02'             ,    '系统日志'                                               )
insert   sys_entity(E_ProgID,E_Entity,E_Title)   values( 'ZXSOFT'          ,    'MAIN_B02'             ,    '客户管理'                                               )
